@using Abp.Authorization.Users
@using Zhn.Template.Web.Startup
@model Zhn.Template.Web.Models.Users.UserListViewModel
@{
    ViewData["Title"] = PageNames.Users;
    Layout = "~/Views/Shared/_LayoutPageTable.cshtml";
    ViewBag.AbsoluteUrl = "/Users";
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<!--搜索-->
<div class="card">
    <div class="card-header">
        查询条件
    </div>
    <div class="card-body">
        <form id="formSearch" class="form-inline">
            <label class="sr-only" for="txt_search_name">角色名</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="txt_search_name" placeholder="角色名">
        </form>
    </div>
</div>