@using Snow.Template.Web.Startup
@using System.Globalization
@using  Snow.Template.Web.Models.Users
@model UserDetailModalViewModel
@{
    ViewData["Title"] = PageNames.Users;
    Layout = "_LayoutPage";
    ViewBag.AbsoluteUrl = "/Users";
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}
@section styles{
    <link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-fileinput/js/fileinput.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-fileinput/themes/fa/theme.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.js" asp-append-version="true"></script>
        @if (CultureInfo.CurrentUICulture.Name != "en")
        {
            string languageName = CultureInfo.CurrentUICulture.Name;
            if (languageName == "zh-Hans")
            {
                languageName = "zh";
            }
            <script src="~/lib/bootstrap-fileinput/js/locales/@Html.Raw(languageName+".js")" asp-append-version="true"></script>
            <script type="text/javascript">
            $(function () {
                $('#HeadImage').fileinput({
                    theme: "fa",
                    language: '@languageName',
                    uploadUrl: "/profile/UploadProfilePicture"
                    //        allowedFileExtensions: ['jpg', 'png', 'gif']
                });
                $('#changePassward').click(function () {
                    // 弹出Modal修改密码
                });
            });
        </script>
        }
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Detail.min.js" asp-append-version="true"></script>
    </environment>
}
<div style="max-width:500px;margin:20px;padding:20px;">
        <div class="form-group">
            <label asp-for="HeadImage"></label>
            <input asp-for="HeadImage" type="file">
        </div>
       <button id="changePassward" type="button" class="btn btn-primary">@L("ChangePassward")</button>
</div>
