@using Snow.Template.Web.Startup
@using  Snow.Template.Web.Models.Users
@model UserDetailModalViewModel
@{
    ViewData["Title"] = PageNames.Users;
    Layout = "_LayoutPage";
    ViewBag.AbsoluteUrl = "/Users";
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}

<link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
<link href="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
        <script src="~/lib/bootstrap-fileinput/themes/fa/theme.js"></script>
        <script src="~/lib/bootstrap-fileinput/themes/explorer-fa/theme.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Detail.min.js" asp-append-version="true"></script>
    </environment>
}
<div style="max-width:500px;margin:20px;padding:20px;">
    <form id="modelForm" name="UserInformationsForm" role="form" novalidate>
        <div class="form-group">
            @*<label asp-for="HeadImage"></label>
                <input asp-for="HeadImage" type="file" class="file">*@
            <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Password)">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#HeadImage').fileinput({
            theme: "fa",
            uploadUrl: "/profile/UploadProfilePicture"
        });
    });
</script>