@using Zhn.Template.Web.Startup
@{
    ViewData["Title"] = PageNames.Parameters;
    Layout = "_LayoutPageTable";
    ViewBag.AbsoluteUrl = "/Parameters";
    ViewBag.CurrentPageName = PageNames.Parameters; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Parameters/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Parameters/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<!--搜索-->
<div class="card">
    <div class="card-header">
        @L("QueryCondition")
    </div>
    <div class="card-body">
        <form id="formSearch" class="form-inline">
            <label class="sr-only" for="sel_search_parameter_type_id">@L("ParameterTypeId")</label>
            <select class="form-control mb-2 mr-sm-2" id="sel_search_parameter_type_id" placeholder=@L("ParameterTypeId")></select>
        </form>
    </div>
</div>
<div id="toolbar">
    <div class="btn-group" role="group" aria-label="Operate Group">
        @if (IsGranted("Pages.Administration.Parameters.Create"))
        {
            <button id="create" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>@L("Add")</button>
        }
    </div>
</div>