@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using Zhn.Template
@using Zhn.Template.Configuration
@using Zhn.Template.Web.Resources
@using Zhn.Template.Web.Views.Shared.Components.SideBarNav
@using Zhn.Template.Web.Views.Shared.Components.SideBarUserArea
@using Zhn.Template.Web.Views.Shared.Components.TopBarLanguageSwitch
@using Zhn.Template.Web.Views.Shared.Components.RightSideBar
@inject Zhn.Template.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@{
    Layout = "_LayoutPage";
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
    //禁用客户端验证
    //ViewContext.ClientValidationEnabled = true;
}
@section styles
    {
    <environment names="Development">
        <link href="~/lib/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/ztree_v3/css/metroStyle/metroStyle.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
}

@RenderBody()
<div class="row">
    <div class="col-2">
        <ul id="navTree" class="ztree"></ul>
    </div>
    <div class="col-10">
        <table id="tb-body" data-bind="bootstrapTable :$root" data-filter-control="true"></table>
    </div>
</div>
@*<ul id="navTree" class="ztree"></ul>
    <table id="tb-body" data-bind="bootstrapTable :$root" data-filter-control="true"></table>*@
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        @*<script src="~/lib/jquery-ajax-unobtrusive/src/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>*@
        <script src="~/lib/ztree_v3/js/jquery.ztree.all.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
}