@using Abp.Authorization.Users
@using Snow.Template.Web.Startup
@{
    ViewData["Title"] = PageNames.Roles;
    Layout = "_LayoutPageTable";
    ViewBag.AbsoluteUrl = "/Roles";
    ViewBag.CurrentPageName = PageNames.Roles; // The menu item will be active for this page.
}
@section scripts
{
<environment names="Development">
    <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
</environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Roles/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div id="toolbar">
    <div class="btn-group" role="group" aria-label="Operate Group">
        @if (IsGranted("Pages.Administration.Roles.Create"))
        {
            <button id="create" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>@L("Add")</button>
        }
    </div>
</div>

